@import "src/scss/index";


.header {
  border-bottom: 1px solid #000;
  background-color: #fff;

  @include except-mobile {
    border-top: 1px solid #000;
  }
}

.content {

  @include mobile {
    padding: 0 !important;
  }

  @include except-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.04em;

  @include mobile {
    display: block;
    width: 100%;
    padding: 16rem;
    border-bottom: 1px solid #222;
    font-size: 20rem;
    text-align: center;
  }

  @include except-mobile {
    display: flex;
    align-items: center;
    align-self: stretch;
    margin-left: -40rem;
    padding: 0 40rem;
    font-size: 20rem;
  }
}

.nav {

  @include mobile {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }

  @include except-mobile {
    display: flex;
  }
}

.navItem {
  position: relative;
  display: block;
  text-transform: uppercase;

  @include mobile {
    padding: 12rem;
    font-size: 12rem;
    border-left: 1px solid #000;
  }

  @include except-mobile {
    padding: 24rem 40rem;
    font-size: 16rem;
    border-right: 1px solid #000;
  }

  &:any-link {
    color: #000;
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 0;
    background-color: #000;
    content: '';
    @include basic-transition();
  }

  &:first-child {

    @include mobile {
      border-left: 0;
    }

    @include except-mobile {
      border-left: 1px solid #000;
    }
  }

  &:hover,
  &.active {

    &::after {
      height: 3px;
    }
  }

  &.active {
    cursor: default;
  }
}

.connectButton {
  cursor: pointer;
}

.accountButton {

  b {
    margin-left: 12rem;
    font-weight: 700;
    cursor: pointer;
  }

  &::after {
    display: none;
  }
}
