@import "src/scss/index";


.headline {

  @include except-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32rem;
  }
}

.stats {
  border: 1px solid #000;

  @include except-mobile {
    display: flex;
  }
}

.stat {
  padding: 12rem 24rem;
  border-left: 1px solid #000;

  &:first-child {
    border-left: 0;
  }
}

.title {
  color: #ccc;
  font-size: 14rem;
  line-height: 20rem;
}

.value {
  color: #000;
  font-weight: 700;
  font-size: 16rem;
  line-height: 24rem;
}
