@import "src/scss/index";


@keyframes openModal {
  0% {
    transform: translate3d(0, 50%, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.container {
  animation: openModal 0.35s ease;
}

.plainModal {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #fff;

  &,
  &:focus {
    outline: none;
  }
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  padding: 8rem;
  background-color: #000;
  cursor: pointer;

  img {
    display: block;
    width: 16rem;
    height: 16rem;
  }

  &:hover {
    opacity: 1;
  }
}

.content {
  position: relative;
  z-index: 2;
}


@include mobile {

  .container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .plainModal {
    width: 100%;
    min-height: 100%;
    padding: 40rem 20rem 56rem;
  }
}

@include except-mobile {

  .overlay {
    display: grid;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 16rem;
  }

  .plainModal {
    width: 504rem;
  }
}
