@import "src/scss/index";


.stats {
  color: #000;

  @include except-mobile {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin-top: 16rem;
  }
}

.stat {
  padding: 22rem 28rem 16rem;
  border-left: 1px solid #000;

  span {
    display: block;
    margin-bottom: 6rem;
    color: #666;
    font-size: 12rem;
    line-height: 16rem;
    text-transform: uppercase;
  }

  b {
    font-weight: 700;
    font-size: 18rem;
    line-height: 28rem;
  }

  &:first-child {
    border-left: 0;
  }
}
