@import "src/scss/index";


.hero {

  @include except-mobile {
    padding: 80rem 0 40rem;
  }
}

.content {

  @include except-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.title {

  @include mobile {
    font-size: 48rem;
    line-height: 60rem;
  }

  @include except-mobile {
    width: 660rem;
    font-size: 64rem;
    line-height: 92rem;
  }
}
