@import "src/scss/index";


.root {

  @include except-mobile {
    margin-top: 80rem;
  }
}

.rootTitle {
  color: #222;
  font-weight: 700;
  text-transform: uppercase;

  @include except-mobile {
    font-size: 28rem;
    line-height: 36rem;
  }
}

.projects {

  @include except-mobile {
    display: grid;
    grid-gap: 60rem 40rem;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 32rem;
  }
}

.projectCard {
  background-color: #000;
}

.project {
  position: relative;
  z-index: 2;
  display: block;
  border: 1px solid #000;
  background-color: #fff;
  @include basic-transition();

  &:hover {
    transform: translate3d(-4px, -4px, 0);
  }
}

.cover {
  display: block;
  width: 100%;
  border-bottom: 1px solid #000;
}

.content {
  position: relative;
  padding: 40rem 32rem 32rem;
}

.logo {
  position: absolute;
  top: -30rem;
  left: 20rem;
  width: 48rem;
  height: 48rem;
  border: 1px solid #000;
  background-color: #fff;
}

.name {
  text-transform: uppercase;

  @include except-mobile {
    font-weight: 700;
    font-size: 16rem;
    line-height: 28rem;
  }
}

.token {
  text-transform: uppercase;

  @include except-mobile {
    margin-top: 8rem;
    color: #666;
    font-size: 12rem;
    line-height: 16rem;
  }
}

.info {

  @include except-mobile {
    margin-top: 24rem;
    font-size: 16rem;
    line-height: 24rem;
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;

  @include except-mobile {
    margin-top: 10rem;
    font-size: 14px;
    line-height: 18rem;
  }

  span {
    margin-right: 8rem;
    color: #666;
  }

  &:first-child {
    margin-top: 0;
  }
}

.participateButton {
  position: relative;
  z-index: 3;
  color: #000;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #000;
  cursor: pointer;
  @include basic-transition();

  @include mobile {

  }

  @include except-mobile {
    height: 62rem;
    font-size: 12rem;
    line-height: 62rem;
  }

  &:hover {
    background-color: #f5f5f5;
  }
}
