@import "src/scss/index";


.root {

  @include mobile {
    margin-top: 56rem;
  }

  @include except-mobile {
    margin-top: 80rem;
  }
}

.rootTitle {
  color: #222;
  font-weight: 700;
  text-transform: uppercase;

  @include mobile {
    font-size: 20rem;
    line-height: 28rem;
  }

  @include except-mobile {
    font-size: 28rem;
    line-height: 36rem;
  }
}

.projects {

  @include mobile {
    margin-top: 20rem;
  }

  @include except-mobile {
    display: grid;
    grid-gap: 60rem 40rem;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 32rem;
  }
}

.projectCard {
  background-color: #000;

  @include mobile {
    margin-top: 16rem;

    &:first-child {
      margin-top: 0;
    }
  }
}

.project {
  position: relative;
  z-index: 2;
  display: block;
  border: 1px solid #000;
  background-color: #fff;
  @include basic-transition();

  @include mobile {
    box-shadow: #222 4px 4px;
  }

  @include except-mobile {

    &:hover {
      transform: translate3d(-4px, -4px, 0);
    }
  }
}

.cover {
  display: block;
  width: 100%;
  border-bottom: 1px solid #000;
}

.content {
  position: relative;

  @include mobile {
    padding: 24rem 16rem;
  }

  @include except-mobile {
    padding: 40rem 32rem 32rem;
  }
}

.logo {
  position: absolute;
  border: 1px solid #000;
  background-color: #fff;

  @include mobile {
    top: -20rem;
    left: 16rem;
    width: 40rem;
    height: 40rem;
  }

  @include except-mobile {
    top: -24rem;
    left: 20rem;
    width: 48rem;
    height: 48rem;
  }
}

.name {
  font-weight: 700;
  font-size: 16rem;
  line-height: 28rem;
  text-transform: uppercase;
}

.token {
  margin-top: 8rem;
  color: #666;
  font-size: 12rem;
  line-height: 16rem;
  text-transform: uppercase;
}

.info {

  @include mobile {
    margin-top: 16rem;
  }

  @include except-mobile {
    margin-top: 24rem;
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 14rem;
  line-height: 18rem;

  @include mobile {
    margin-top: 6rem;
  }

  @include except-mobile {
    margin-top: 10rem;
  }

  span {
    margin-right: 8rem;
    color: #666;
  }

  &:first-child {
    margin-top: 0;
  }
}

.participateButton {
  position: relative;
  z-index: 3;
  color: #000;
  font-weight: 700;
  font-size: 12rem;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #000;
  cursor: pointer;
  @include basic-transition();

  @include mobile {
    height: 48rem;
    line-height: 48rem;
  }

  @include except-mobile {
    height: 62rem;
    line-height: 62rem;
  }

  &:hover {
    background-color: #f5f5f5;
  }
}
