@import "src/scss/index";


.card {
  position: relative;
  z-index: 10;

  @include mobile {

  }

  @include except-mobile {
    width: 400rem;
    margin-top: 152rem;
    box-shadow: #222 8px 8px;
  }
}

.content {

  @include mobile {
    padding: 24rem 16rem;
  }

  @include except-mobile {
    padding: 40rem 32rem 40rem;
  }
}

.title {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  @include mobile {
    margin-bottom: 24rem;
    font-size: 20rem;
    line-height: 28rem;
  }

  @include except-mobile {
    margin-bottom: 40rem;
    font-size: 18rem;
    line-height: 28rem;
  }
}

.inputContainer {
  display: grid;
  grid-template-columns: auto 80rem;
}

.input {
  width: 100%;
  border: 1px solid #222;
  border-right: 0;

  @include mobile {
    height: 44rem;
    padding: 0 16rem;
    font-size: 12rem;
  }

  @include except-mobile {
    height: 44rem;
    padding: 0 20rem;
    font-size: 12rem;
  }

  &:focus {
    outline: none;
    border-color: #000;
  }
}

.maxButton {
  width: 100%;
  height: 44rem;
  color: #222;
  font-weight: 700;
  font-size: 12rem;
  line-height: 44rem;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #222;
  background-color: #ececec;
  cursor: pointer;
  @include basic-transition();

  &:hover {
    background-color: #ddd;
  }
}

.balance {
  margin-top: 16rem;
  font-size: 12rem;
  line-height: 18rem;
  text-transform: uppercase;
}

.button {
  position: relative;
  z-index: 3;
  color: #000;
  font-weight: 700;
  font-size: 12rem;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #000;
  cursor: pointer;
  @include basic-transition();

  @include mobile {
    height: 48rem;
    line-height: 48rem;
  }

  @include except-mobile {
    height: 62rem;
    line-height: 62rem;
  }

  &:hover {
    background-color: #f5f5f5;
  }
}
