@import "src/scss/index";


.text {

  p {
    margin-top: 1em;

    &:first-child {
      margin-top: 0;
    }
  }

  a {
    color: #0099ff;
    font-weight: 700;
    white-space: nowrap;
    text-decoration: underline;

    @media (hover: hover) {

      &:hover {
        color: #0099ff;
      }
    }
  }
}


.h1 {
  font-weight: 300;
  font-size: 48rem;
  line-height: 64rem;
}

.h2 {
  font-weight: 600;
  font-size: 36rem;
  line-height: 52rem;
}

.h3 {
  font-size: 24rem;
  line-height: 32rem;
}

.p1 {
  font-size: 16rem;
  line-height: 24rem;
}

.p2 {
  font-size: 14rem;
  line-height: 20rem;
}


$colors: (
  ('100', $text-100),
  ('200', $text-200),
  ('300', $text-300),
  ('400', $text-400),
  ('500', $text-500),
  ('info', $text-info),
  ('accent-100', $text-accent-100),
  ('accent-200', $text-accent-200),
  ('warning', $text-warning),
  ('attention', $text-attention),
);

@each $values in $colors {
  $name: nth($values, 1);
  $color: nth($values, 2);

  .c-#{$name} {
    color: $color;
  }
}
